@tailwind base;
@tailwind components;
@tailwind utilities;

body, h1, ul {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ccc;
}

/* Componente nick */
.nick {
  font-size: 42px;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-style: italic;
  margin: 20px 0;
  color:rgba(142, 104, 78, 0.823);
  flex-direction: initial;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(142, 104, 78, 0.823);
}
/* Secciones */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  color: #ccc;
}

.portfolio-item {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.img1{
  width: 400px;
  padding: 20px;
  height: 280px;
  padding-left: 80px;
}
.major{
  width: 1500px;
  background-color: #424242;
  display: flex;
  margin-top: 20px;
  height: 300px;
  margin-left: 10px;
}
.part3{
  display: flex;
  width: 2000px;
  flex-direction: row;
}
.portfolio-item:hover {
  transform: translateY(-5px);
}
.dark-mode {
  background-color: #333; 
  color: white; 
}
/* Imágenes */
#imgLuisa {
  margin-top: 50px;
  width: 20%;
  height: 40%;
  border: 6px solid rgba(142, 104, 78, 0.823);
  border-radius: 10px;
  margin-left: 600px;
}
.abajo{
  background-color:  rgba(142, 104, 78, 0.823);
}

/* Menú de navegación */
/* Estilos para el menú de navegación */
nav {
  background-color: #424242;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #f7d53e;
}

.active-link {
  color: #f7d53e;
}

nav ul.menu {
  color: #ffffff;
}
.instagram{
  width: 100px;
  height: 50px;
}

/* Pie de página */
.footer {

  font-size: 12px;
  height: 191px;
  margin-top: 20px;

}
.sena{
  margin-top: 10px;
  width: 100px;
  margin-left: 350px;
  margin-bottom: 20px;
  border: 2px solid #1a1a1a;

  
}
.studies{
  color: #1a1a1a;
 height: 250px;
  background-color: #ccc;
  justify-content: center;
  width: 800px;
  margin-left: 350px;
 margin-bottom: 50px;
 border: 10px solid rgba(142, 104, 78, 0.823);
}

/* Botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.title{
  color: #ccc;
  
 
}
.ti2{
  margin-left: -300;
}

@media (max-width: 575px) {
  .malu {
    margin-left: 0;
  }

  .logo {
    height: 4em;
  }

  #imgLuisa {
    margin-left: 60px;
    width: 80%;
    margin-top: 20px;
    height: 40%;
  }.studies{
margin-left: 5px;
width: 100%;
  }.sena{
    margin-left: 190px;
  }.major{
  width: 100%;
  }.parte3{
    width: 50%;
    height: 60%;
    font-size: 10px;
  }.img1{
    width: 60%;
  }
}

/* Estilos para tablets y pantallas medianas */
@media (min-width: 576px) and (max-width: 991px) {
  .portfolio {
    align-items: center;
  }

  .part1 {
    margin-top: 0;
  }

  .portfolio-item {
    max-width: none;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  .major {
    width: 1500px;
    background-color: #424242;
    display: flex;
    margin-top: 20px;
    height: 300px;
    margin-left: 10px;
  }

  .part3 {
    display: flex;
    width: 2000px;
    flex-direction: row;
  }

  .studies {
    color: #1a1a1a;
    height: 250px;
    background-color: #ccc;
    justify-content: center;
    width: 800px;
    margin-left: 350px;
    margin-bottom: 50px;
    border: 10px solid rgba(142, 104, 78, 0.823);
  }

  .ti2 {
    margin-left: -300;
  }
}

/* Otros estilos específicos aquí */

/* Consulta de medios para condiciones adicionales */
@media (min-width: 1200px) {
  /* Estilos adicionales para pantallas aún más grandes */
}

/* Consulta de medios para condiciones adicionales */
@media (min-width: 1600px) {
  /* Estilos adicionales para pantallas muy grandes */
}